* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

.bio, .tags, .savingThrows, .monster{
    padding-bottom: 1%;
}

.monster {
    height: 25%;
    width: 100%;
    border: 3px solid black;
    display: flex;
    font-size: 1em;
    padding-bottom: 0px;
    margin-bottom: 15px;
}
/* Column 1 */
.column1 {
    width: 15%;
    margin-top: 5px;
}
.bio {
    background-color: aqua;
}
.abilityMods {
    background-color: cadetblue;
}
.tags {
    background-color: aquamarine;
}
.recallKnowledge {
    background-color: aqua;
}
.movementSpeeds {
    background-color: aliceblue;
}
.moveType {
    color:blueviolet
}


.column2 {
    width: 14%;
    margin-top: 5px;
}
.defenses {
    background-color: azure;
}


.column3 {
    width: 16%;
    margin-top: 5px;
}
.skills {
    background-color: bisque;
}

.defenses > div {
    line-height: 200%;
}

/* span {
    display: inline-block;
    width: 5%;
} */

input {
    width: 20%;
    margin-left: 2px;
}

/* column 4 */
.strike {
    border: 1px solid green;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    max-width: 400px;
}

/* Column 5 */
.spells {
    border: 1px solid darkgreen;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    max-width: 400px;
}

.spellType {
    color: darkgreen;
    font-weight: 700;
    margin-top: 5px;
    width: 400px;
    max-width: 400px;
}

/* Column 6 */
.specialAbilityName {
    color: green;
    font-weight: 700;
    margin-top: 5px;
    width: 400px;
    max-width: 400px;
}
.specialAbility {
    border: 1px solid green;
    margin: 5px;
    padding-left: 3px;
    width: 400px;
    max-width: 400px;
}

.trigger, .effect {
    color: black;
    font-weight: bold;
}